# Local Dev:
# Listens on HTTP port 80
# Forwards requests to the appropriate backend service
# based on the path of the request.
#
#
:80 {
    # Jaeger UI at /jaeger/*
    handle /jaeger/* {
        uri strip_prefix /jaeger  # Remove /jaeger before proxying
        reverse_proxy jui-jaeger:16686
        forward_auth jui-be:1323 { # Forward the header to the backend for validation
            uri /auth/validate
            header_up Cookie {header Cookie}
        }
    }
}

# IF HTTPS IS NEEDED LOCALLY
# - Change the port to 443 to have Caddy listen on HTTPS
# - Generate a self-signed certificate
# - Update the config to use the self-signed certificate
# - Update browser to trust the self-signed certificate OR
# - Update the host OS to trust the self-signed certificate

# Custom Subdomain Reverse Proxy Configuration
# Optional config - requires changes to the /etc/hosts file to work locally
# # Custom local domains:
# app.localhost {
#     reverse_proxy jui-fe:5173
# }

# jaeger.localhost {
#    reverse_proxy jui-jaeger:16686 {
#     header_up Host {upstream_hostport}
#   }
# }

# api.localhost {
# 	reverse_proxy jui-be:1323
# }