.mermaid-node-active > rect,
.mermaid-node-active > polygon,
.mermaid-node-active > circle,
.mermaid-node-active > ellipse,
.mermaid-node-active.node-subflow path,
.node-subflow-active path {
  /* Target the shape element within the active node group */
  stroke: orange !important;
  stroke-width: 4px !important;
  transition: all 250ms ease-in-out;
}

.mermaid-node-active.node-subflow path,
.node-subflow-active path {
  /* Style override */
  stroke-width: 3px !important;
}

.mermaid-container .node {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.mermaid-container .node:not(.graph-element-not-utilized):hover > rect,
.mermaid-container .node-subflow:not(.graph-element-not-utilized):hover path {
  fill: rgb(255, 193, 77) !important;
  transition: all 250ms ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .mermaid-container .node:not(.graph-element-not-utilized):hover > rect,
  .mermaid-container .node-subflow:not(.graph-element-not-utilized):hover path {
    fill: rgb(106, 41, 0) !important;
  }
}

.mermaid-container .node.graph-element-not-utilized {
  cursor: default;
  opacity: 0.5;
}
